lecture-05/data/cifar-10-python.tar.gz
lecture-07/WordLM-RNN-Transformer/model.pt
lecture-05/Text-Classification-Pytorch-CNN/.data
lecture-05/Text-Classification-Pytorch-CNN/.vector_cache
lecture-06/.data
lecture-06/.vector_cache
lecture-06/tut1-model.pt
lecture-05/.data
lecture-05/.vector_cache
lecture-05/model.ckpt
lecture-05/params.ckpt
lecture-02/convokit-reddit-coarse-discourse-corpus-3-gram.arpa
lecture-02/convokit-reddit-coarse-discourse-corpus-4-gram.arpa
lecture-02/convokit-reddit-coarse-discourse-corpus-5-gram.arpa
lecture-02/convokit-reddit-coarse-discourse-corpus-test.txt
lecture-02/convokit-reddit-coarse-discourse-corpus-train-2-gram.arpa
lecture-02/convokit-reddit-coarse-discourse-corpus-train.txt
lecture-02/convokit-reddit-coarse-discourse-corpus-valid.txt
lecture-02/convokit-reddit-coarse-discourse-corpus-vocab.json
